@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
  background-color: #f5f5f5 !important;
  font-family: 'Raleway', Raleway;
}

.dot{
  background-color: #bbb !important;
  margin-bottom: -105px !important;
}

.active.dot{
  background-color: #ffaa91 !important;
}

.center-text{
  text-align: center;
}

h1, h2, h3, h4, h5{
  color: #484848 !important;
}

.title{
  background-color: white;
  border-bottom: solid 1px #DCE0E0;
  padding-bottom: 10px;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 25px;
  min-height: 60px;
}

.ampersand{
  width: 50%;
  min-width: 100px;
  min-height: 100px;
}

.airbnb-logo{
  height: 260px;
  padding-top: 40px;
}

.flex-box{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

#pictures {
    padding-top: 20px;
}

.intro-text{
  margin-left: 5%;
}
